

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100hv;

    --side-background-width: min(34vw, 600px);
}

#side-background {
    position: absolute;
    height: 100vh;
    width: var(--side-background-width);
    background: #596D48 url(./images/background.jpg) no-repeat;
    background-size: cover;
}

#logo {
    margin-top: 40%;
    padding: 8px 0;
    width: 100%;
    background-color: rgb(0 0 0 / .5);
    text-align: center;
    color: white;
}

#logo > img {
    margin-right: 8px;
    width: 25%;
    vertical-align: middle;
}

h1 {
    display: inline;
    font-size: 3vw;
}

main {
    font-family: Roboto;
    position: relative;
    left: var(--side-background-width);
    width: calc(100vw - var(--side-background-width));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > *,
.user-info {
    padding-left: 54px;
}

.description {
    font-weight: bold;
    font-size: 1.5rem;
    width: 52ch;
    margin-bottom: calc(32px + 2.5rem);
}

form {
    padding-left: 0;
}

.user-info {
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(35vh + 15px);
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: calc(28px + 1rem);
}

.caption {
    font-weight: bold;
    font-size: 1.5rem;;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    width: min(100%, 600px);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
}

.input-field {
    padding: 8px 12px;
    height: 32px;
    width: 260px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    font-size: 1rem;
}

.input-field:focus {
    outline: none;
    border: 1px solid #00f;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.input-field:invalid,
.error {
    border-color: #f00;
}

#password + span {
    font-size: small;
    color: #f00;
}

button {
    margin-left: 54px;
    margin-bottom: calc(32px + 1rem);
    padding: 14px 48px;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #596D48;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #3e532d;
}

button:active {
    box-shadow: none;
}

.login-prompt {
    font-size: 1rem;
}

.login {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.login:visited {
    color: #718a5c;
}

.login:hover {
    color: #3e532d;
}