

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100hv;

    --side-background-width: min(34vw, 600px);
}

#side-background {
    position: absolute;
    height: 100vh;
    width: var(--side-background-width);
    background: #596D48 url(./images/background.jpg) no-repeat;
    background-size: cover;
}

#logo {
    margin-top: 40%;
    padding: 8px 0;
    width: 100%;
    background-color: rgb(0 0 0 / .5);
    text-align: center;
    color: white;
}

#logo > img {
    margin-right: 8px;
    width: 25%;
    vertical-align: middle;
}

h1 {
    display: inline;
    font-size: 3vw;
}

main {
    position: relative;
    left: var(--side-background-width);
    width: calc(100vw - var(--side-background-width));
    height: 100vh;
    padding-left: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5rem;
    width: 52ch;
    margin-bottom: calc(32px + 2.5rem);
}